.attendee-panel {
    background: white;
    width: $attendewidth;
    height: $attendeheight;
    padding: $msize;
    margin:$ssize;
    @extend .shadow;
    >.title {
        margin-top: 0;
    }
}

.user-circle {
    border-radius: 20px;
    background: $lightgrey;
    color: $darkgrey;
    padding: $xssize $ssize;
    margin: 0 $xssize;
}

.attendee-container {
    display: flex;
    flex-wrap: wrap;
}