.edit-form {
    @extend .shadow;
    @extend .colFlex;
    width: $detailpanelwidth;
    padding: $msize;
    margin: $ssize;
    background: white;
}

.edit-container {
    margin: $msize $lsize;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.edit-btn-container {
    display: flex;
    justify-content: space-between;
    padding: 0 $lsize;
}

.del {
    color: $leavered;
    font-weight: bold;
    font-size: 13px;
    > .icon {
        padding: 0 $xssize;
    }
}