.details-container {
    @extend .colFlex;
    @extend .shadow;
    width: $detailpanelwidth;
    height: 175px;
    background: white;
    padding: $msize $ssize;
    margin-top: $ssize;
    > .title {
        margin: 0;
        margin-top: $ssize;
    }
    > .date {
        font-size: 12px;
        color: $lightgrey;
        font-weight: bold;
    } .description {
        color: $lightgrey;
    } .host {
        margin: $ssize 0;
    }
}

.action-container {
    display: flex;
    justify-content: space-between;
    margin: $ssize $msize;
}

.head-container {
    @extend .colFlex;
    justify-content: space-between;
    min-height: 75vh;
}