.signin-page-container {
    @extend .rowFlex;
    min-height: inherit;
}

.image {
    width: 350px;
    height: 97vh;
}


.center-container {
    display: flex;
    justify-content: space-evenly;  
    width: 100%;
    
}

.form-container {
    @extend .rowFlex;
    height: 100%;
}

.form {
    @extend .colFlex;
    justify-content: center;
    height: 550px;
    width: 350px;
}
.link {
    text-decoration: none;
    cursor: pointer;
    color: $darkgrey;
    margin: 0 $ssize;
    font-size: 12px;
    line-height: 15px;
}

.pre-link {
    color: $lightgrey;
    font-size: 12px;
}

.link-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.side-panel {
    @extend .colFlex;
    width: 100%;
}

.signin-subtitle {
    color: $darkgrey;
}

.title-block {
    margin: $lsize 0;
    > * {
        margin: 10px 0;
    }
}